body {
  padding: 100px;
}

.login-div {
  width: 700px;
  box-shadow: 0px 5px 10px gray;
}

.login-div input {
  width: 300px;
}

.login-button {
  width: 100px;
}

.trensaction-area {
  display: none;
  padding: 20px;
}

.trensaction-area .second-row div {
  box-shadow: 2px 5px 10px gray;
}
